#classicfoo-logo {
	width: 200px;
	display:block;	
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.menu-item {
	display:block;
	background-color: white;
	color:black;
	text-align:center;
	font-size:30px;
	margin:10px;
}

body {
	background-color: white;
	font-family: 'Caveat', cursive;
}

a:hover {
    color: hotpink;
}
