#actions {
	margin: 10 10 10 0;
}

body {
	padding: 180px 20px 20px 20px;
} 

#tasklist {
	margin-bottom: 0;
}

#pageHeading {
	margin-top:0;
}

nav {
	background-color:white;
	padding: 20px 20px 0px 20px;
	border-bottom-width:0;
}

