#actions {
	margin: 10 10 10 0;
}

body {
	padding-left:20px;
	padding-right:20px;
	background-color:white;
} 

#tasklist {
	margin-bottom: 0;
}

#pageHeading {
	margin-top:0;
}

nav {
	background-color:white;
	padding: 20px 20px 0px 20px;
	border-bottom-width:0;
}

#due {
	display:block;
	margin-top:10px;
}

#subject {
	margin-top:10px;
}

#view_task_content {
	margin-top:20px;
	border:0px;
	padding:20px 0px 20px 0px;
	margin:0px 0px 0px -5px;
	background-color:white;
}