<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width">
 		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<h1>Add Task</h1>
	
		<form action="addtask.php" method="POST">
			Subject <input type="text" id="subject" name="subject" style="width:100%" autofocus> <br> <br>
			Due <input type="date" id="due" class="default-due" name="due"> <br> <br>
			<input type="submit" class="btn btn-primary" value="Submit">
			<input type="button" class="btn btn-default" value="Cancel" onclick="window.location='tasks.php'">
		</form>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="script.js"></script>
	</body>
</html>
