div {
	padding-bottom:10px;
}

#generate {
	display:block;
	margin-top:20px;
	margin-bottom:40px;
	margin-right:10px;
}

.newline {
	margin-bottom:10px;
}

#inputString {
	display:block;
	margin-top:10px;
	width:350px;
}

#resultContainer {
	background-color:whitesmoke;
	padding:10px;
	margin-bottom:20px;
	max-width:400px;
}

#inputLength {
	margin-top:10px;
	display:block;
	width:40px;
}

#fieldName {
	clear:both;
	display:inline;
}