img {
	width:150px;
	height:150px;
	border-radius:50%;
	border-width:5px;
	border-color:white;
	border-style:solid;
}

#img-background {
    padding-top: 20px;
    padding-bottom: 20px;

}

body {
	max-width:600px;
    box-shadow: 8px 7px 20px 0px #d8d8d8;
    padding:20px;
	font-family: 'Khula', sans-serif;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #f6f6f6;
}

.center {
	text-align:center;	
}

.grad {
    background: #ced8ea; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ced8ea, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ced8ea, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ced8ea, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ced8ea, white); /* Standard syntax */
}

